<nav>
    <div class="site-title">
        <a href="/">
            <h1>Fresh News</h1>
        </a>
        <p>Fastest news in town</p>
    </div>
    <ul>
        <li><a href="/">News</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Create New</a></li>
    </ul>
</nav>