<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="news-form content">
                <form action="/news" method="post">
                    <label for="title">News title:</label>
                    <input type="text" id="title" name="title" required>
                    <label for="content">News content:</label>
                    <input type="text" id="content" name="content" required>
                    <button type="submit">Submit</button>
                </form>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>