<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="home content">
                <h2>Best News</h2>
                <a href="/news" class="btn">Check News</a>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>