<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="news-form content">
                <form action="/login">
                    <h2>Login</h2>
                    <label for="email">Email</label>
                    <input type="text" name="email" required />
                    <label for="password">Password</label>
                    <input type="password" name="password" required />
                    <button>Login</button>
                    <div class="form error"></div>
                </form>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>

<script>
    const form = document.querySelector('form');
    const formError = document.querySelector('.form.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        formError.textContent = '';

        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'Content-Type': 'application/json' },
            });
            const data = await res.json();
            if (data.form) {
                formError.textContent = data.form;
            }
            if (data.id) {
                location.assign('/');
            }
        }
        catch (err) {
            console.log(err);
        }
    });
</script>